* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .slider-wrap {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    position: relative;
  }
  
  .header {
    height: 50px;
    background-color: #ff0000;
  }
  
  .slider-services {
    flex: 1;
    max-width: 80%;
    margin: auto;
    overflow: hidden;
  }
  
  .slider--width {
    height: 100%;
    display: flex;
    transition: all ease 0.6s;
  }
  
  .slider--item {
    width: 100%;
    height: inherit;
    background-position: center;
    background-size: cover;
    /* background: linear-gradient(276.16deg, #00ABE4 3.23%, #327E97 119.23%); */
    border-radius: 40px;
    transform: scale(0.9);
  }
  
  .slider-title {
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #073A79;
  }

  .slider-left,
  .slider-right {
    flex: 1;
  }

  .slider-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .slider-title span {
    display: flex;
    align-items: center;
    font-size: 16px;
  }
  
  .slider--item-content {
    display: flex;
    padding: 50px;
    font-family: 'Montserrat';
  }

  .slider-btn {
    display: inline-block;
    width: fit-content;
    padding: 13px 30px;
    background: linear-gradient(rgb(3, 36, 63) 0%, rgb(3, 36, 63) 100%);
    box-shadow: 0px 4px 10px rgba(36, 36, 71, 0.5);
    border-radius: 33px;
    transition: 0.3s;
  }

  .slider-btn:hover {
    background: linear-gradient(rgb(3, 36, 63) 0%, rgb(7, 58, 121) 100%);
  }
  
  .slider--control {
    position: absolute;
    bottom: 20%;
    transform: translate(0, -50%);
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    color: #073A79;
    z-index: 9999;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0px 10px 50px rgb(204 204 204 / 100%);
  }
  
  .slider--control:hover {
    color: #00ABE4;
  }
  
  .slider--control.control-prev {
    left: 40%;
  }
  
  .slider--control.control-next {
    right: 55%;
  }
  
  .slider-text {
      margin-top: 10px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      color: #03243F;
  }
  
  .slider--dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    list-style: none;
    transform: translate(-50%);
  }
  
  .slider--dots li {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: red;
    margin-right: 10px;
  }
  
  .slider-btn a {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  }
  
  @media (max-width: 768px) {
    
        .slider--control {
          top: 100%; 
      }
    
        .slider--control.control-next {
          right: 40%; 
      }
    
        .slider--control.control-prev {
          left: 40%; 
      }
    
        .slider-services {
          max-width: 100%; 
      }
  
  }