.container {
    display: grid;
    grid-template-columns: repeat(3, 50px) 1fr 2fr; /* Repete um tamanho fixo para não ter um código muito grande */
    /* grid-template-columns: repeat(auto-fill, 200px); Repete até onde a largura permitir com colunas com o valor passado */
    gap: 10px;
}

.item {
    background-color: #0000FF;
    border-radius: 10px;
    padding: 20px;
    color: #FFFFFF;
    font-size: 20px;
}